/* 성적부분 3개 */
.gp #frame_div .record_div{
    float: left;
    width: 33.3333%;
    height: 92%;
}

/* 성적부분중 가운데 */
.gp #frame_div .record_center{
    border-left: #000000 solid 1px;
    border-right: #000000 solid 1px;
}

/* 직인 */
.gp #stamp_div{
    width: 100%;
    height: 35mm;
}
.gp #stamp_div .stamp_table{
    width: 100%;
    height: 100%;
}
.gp .stamp_table .stamp_txt{
    text-align: center;
    font-size: 13px;
    letter-spacing: 2px;
}


/* 등급 조견표 */
.gp #grade_div{
    width: 100%;
    height: 5mm;
}
.gp #grade_div .grade_table{
    width: 100%;
    height: 100%;
}
.gp .grade_table .grade_txt{
    text-align: center;
    font-size: 10px;
    letter-spacing: 1px;
}