@charset "utf-8";

#topContent{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;

    /*padding: 0;*/
    /*margin: 0;*/
    /*vertical-align: top;*/
    /*color: #333333;*/
    /*vertical-align: middle;*/

}
*{
    padding: 0;
    margin: 0;
    /*vertical-align: top;*/
    color: #333333;
    /*vertical-align: middle;*/
}
#topContent ul, li{
    list-style: none;
}
#topContent a{
    text-decoration: none;
}
#topContent a:link{
    color: #333333;
}
#topContent  a:visited{
    color:  #333333;
}
#topContent #header{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background: #ffffff;
    text-align: center;
}
#topContent #nav{
    background: #333333;
    width: 100%;
    height: 39px;
    margin: 0 auto;
}
#topContent .logo{
    position: absolute;
    width: 400px;
    height: 88px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
}

#topContent .main_m{justify-content: center; display: flex;}
#topContent .main_m>li{float: left; width: 150px; text-align: center; font-size: 12pt; line-height: 39px;font-weight: bold; }
#topContent .main_m>li>a{display: block;background: #333333; color: #ffffff;}

#topContent .sub_m{
    position: relative;
    z-index: 100;
    display: none;
    text-align:center;
}
#topContent .sub_m>li{
    width: 150px;
    line-height: 35px;
    font-size: 10pt;
}
#topContent .sub_m>li>a{
    display: block;
    color: #ffffff;
}
#topContent .sub_m>li>a:hover{
    background: #111111;
}
#topContent .sub_back{
    width:100%;
    height: 285px;
    position: absolute;
    background: #333333;
    z-index: 99;
    display: none;
    margin: 0 auto;
    top: 139px;
}